{% extends "A.html" %}

{% block title %} Вход {% endblock %}

{% block body %}





        <h1>Добро пожаловать!</h1>
        <p>Сначала выполните вход или создайте ноый аккаунт:</p>
        <form>


            <p><input type="text" name="Login" placeholder="Логин"> </p>
            <p><input type="password" name="PassW" placeholder="Пароль"> </p>
                
            
            <p><input type="submit" value="Войти"></p>   
        </form>
        

{% endblock %}

